<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#!/">
      <img alt="Brand" src="./images/WVED_logo.svg">
    </a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#!/">HOME</a></li>
    </ul>
    <p class="navbar-text">DASHBOARDS</p>
    <ul class="nav navbar-nav">
      <li><a href="#!/dashboard/215">+215 SAGE</a></li>
      <li><a href="#!/dashboard/1590">+1590 TILIA</a></li>
      <li><a href="#!/dashboard/1605">+1605 TILIA</a></li>
      <li><a href="#!/dashboard/1715">+1715 TILIA</a></li>
      <li><a href="#!/about">ABOUT</a></li>
    </ul>
  </div>
</div>