<!-- <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#!/">HOME <span class="sr-only">(current)</span></a>
    </li>
    <li>
      DASHBOARDS<span class="sr-only">(current)</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!/building/215">&#65291;215 SAGE<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!/building/1590">&#65291;1590 TILIA<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!/building/1605">&#65291;1605 TILIA<span class="sr-only">(current)</span></a>
    </li>
    <li class="ls">
      <a class="nav-link" href="#!/building/1715">&#65291;1715 TILIA<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!/about">ABOUT<span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav> -->

<!-- <a class="nav-item-no-click">DASHBOARDS</a> -->
<!-- WVDashboard logo:  -->
<!-- <img alt="Brand" src="/images/WVED_logo_white.svg" height="50"> -->

<!-- Causes the white mask on the rest of the page. Delete line to remove feature -->
<!-- <div class="overlay"></div> -->
<nav class="sidebar-nav-fixed pull-right affix" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#!/">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-item-no-click">DASHBOARDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/building/215">&#65291;215 SAGE<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/building/1590">&#65291;1590 TILIA<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/building/1605">&#65291;1605 TILIA<span class="sr-only">(current)</span></a>
        </li>
        <li class="ls">
          <a class="nav-link" href="#!/building/1715">&#65291;1715 TILIA<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/about">ABOUT<span class="sr-only">(current)</span></a>
        </li>
    </ul>
</nav><!-- /#sidebar-wrapper -->