<p>West Village Energy Dashboard educates building occupants and visitors about energy flows in the largest planned mixed-use zero net energy (ZNE) development in the US, and the first in California. <a href="http://westvillage.ucdavis.edu/" target="_blank">Read more about West Village</a>.</p>

<p>West Village has yet to actually achieve ZNE. Behavioral programs to reduce electricity consumption among residents in student housing have met with some success, but no attention has been given to occupant behavior in the commercial spaces… until now!</p>

<p>West Village commercial spaces are largely composed of over a dozen energy and transportation research centers.</p>

<p>
<span class="bold">215 Sage St.</span><br>
Center for Water-Energy Efficiency<br>
Western Cooling Efficiency Center<br><br>
<span class="bold">1590 Tilia St.</span><br>
Consumer Energy Interfaces<br>
Plug-in Hybrid &amp; Electric Vehicle Center<br>
Center for Design in the Public Interest<br><br>
<span class="bold">1605 Tilia St.</span><br>
Institute of Transportation Studies<br>
Energy Institute<br><br>
<span class="bold">1715 Tilia St.</span><br>
Energy Efficiency Center<br>
Policy Institute for Energy, Environment and the Economy<br>
National Center for Sustainable Transportation<br>
China Center for Energy and Transportation<br>
Sustainable Transportation Energy Pathways<br>
Urban Land Use and Transportation<br>
</p>