<div class="container-fluid" style="height: 100%;">
	<div class="row" style="height: 30%;"><br></div>
	<div class="row" style="height: 60%;">
		<div class="col-xs-6" style="background-color: grey; height: 100%;">
			<h2>{{vm.title}}</h2>
			<div ng-include="vm.currentTemplate"></div>
		</div>
		<div class="col-xs-6" style="background-color: yellow; height: 100%;">
			<ul style="height: 100%;">
				<li ng-repeat="(tile, title) in vm.tiles" ng-click="vm.changeTile(tile)" ng-show="vm.current != tile" style="height: 50%;">
					{{title}}
				</li>
			</ul>
		</div>
	</div>
</div>