<p>In order to determine the target electricity consumption of each of our four buildings, we triangulated four sources of data:<br><br>
(1) West Village developer’s modeling of estimated consumption and PV production for each building<br><br>
(2) Monthly utility bills reporting net consumption (consumption – production)<br><br>
(3) Online solar production calculator to estimate monthly proportions of production relative to annual estimated PV production<br><br>
(4) Baseline data from HOBO data loggers in each building. We excluded WCEC labs from 215 Sage ZNE goals and we excluded EV charging from ZNE goals for 1590 Tilia; both were added after initial ZNE planning.
</p>