<!-- Current power section -->
<div class="section-banner">
	<h1 class="section-banner-title section-banner-title-solo">current power demand</h1>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 full-height current-power-wrapper">
	<div class="current-power">
		<div class="current-power-tile">
			<img ng-if="vm.currentData.solar < 0" class="current-power-img" src="./images/current/solar_on.svg">
			<img ng-if="vm.currentData.solar >= 0" class="current-power-img" src="./images/current/solar_off.svg">
			<div class="current-value">{{vm.currentData.solar}} W</div>
		</div>

		<div class="current-power-tile">
			<img ng-if="vm.enabled.hvac" class="current-power-toggle" src="./images/current/toggle_stat_on.svg" ng-click="vm.toggleUse('hvac');">
			<img ng-if="!vm.enabled.hvac" class="current-power-toggle" src="./images/current/toggle_stat_off.svg" ng-click="vm.toggleUse('hvac');">
			<img ng-if="vm.enabled.hvac == true" class="current-power-img" src="./images/current/hvac_on.svg">
			<img ng-if="vm.enabled.hvac == false" class="current-power-img" src="./images/current/hvac_off.svg">
			<!-- <img ng-if="vm.currentData.total < 0" class="current-power-img" src="./images/current/enduse_hvac_red.svg">
			<img ng-if="vm.currentData.total >= 0" class="current-power-img" src="./images/current/enduse_hvac_green.svg"> -->
			<div class="current-value">-{{vm.currentData.hvac}} W</div>
		</div>

		<div class="current-power-tile">
			<img ng-if="vm.enabled.lights" class="current-power-toggle" src="./images/current/toggle_stat_on.svg" ng-click="vm.toggleUse('lights');">
			<img ng-if="!vm.enabled.lights" class="current-power-toggle" src="./images/current/toggle_stat_off.svg" ng-click="vm.toggleUse('lights');">
			<img ng-if="vm.enabled.lights == true" class="current-power-img" src="./images/current/light_on.svg">
			<img ng-if="vm.enabled.lights == false" class="current-power-img" src="./images/current/light_off.svg">
			<div class="current-value">-{{vm.currentData.lights}} W</div>
		</div>

		<div class="current-power-tile">
			<img ng-if="vm.enabled.plugs" class="current-power-toggle" src="./images/current/toggle_stat_on.svg" ng-click="vm.toggleUse('plugs');">
			<img ng-if="!vm.enabled.plugs" class="current-power-toggle" src="./images/current/toggle_stat_off.svg" ng-click="vm.toggleUse('plugs');">
			<img ng-if="vm.enabled.plugs == true" class="current-power-img" src="./images/current/plugs_on.svg">
			<img ng-if="vm.enabled.plugs == false" class="current-power-img" src="./images/current/plugs_off.svg">
			<div class="current-value">-{{vm.currentData.plugs}} W</div>
		</div>

		<div class="current-power-tile">
			<img ng-if="vm.enabled.kitchen" class="current-power-toggle" src="./images/current/toggle_stat_on.svg" ng-click="vm.toggleUse('kitchen');">
			<img ng-if="!vm.enabled.kitchen" class="current-power-toggle" src="./images/current/toggle_stat_off.svg" ng-click="vm.toggleUse('kitchen');">
			<img ng-if="vm.enabled.kitchen == true" class="current-power-img" src="./images/current/kitchen_on.svg">
			<img ng-if="vm.enabled.kitchen == false" class="current-power-img" src="./images/current/kitchen_off.svg">
			<div class="current-value">-{{vm.currentData.kitchen}} W</div>
		</div>

		<div class="current-power-tile" ng-if="vm.hasEV">
			<img ng-if="vm.enabled.ev" class="current-power-toggle" src="./images/current/toggle_stat_on.svg" ng-click="vm.toggleUse('ev');">
			<img ng-if="!vm.enabled.ev" class="current-power-toggle" src="./images/current/toggle_stat_off.svg" ng-click="vm.toggleUse('ev');">
			<img ng-if="vm.enabled.ev == true" class="current-power-img" src="./images/current/ev_on.svg">
			<img ng-if="vm.enabled.ev == false" class="current-power-img" src="./images/current/ev_off.svg">
			<div class="current-value">-{{vm.currentData.ev}} W</div>
		</div>

		<div class="current-power-tile" ng-if="vm.hasLab">
			<img ng-if="vm.enabled.lab" class="current-power-toggle" src="./images/current/toggle_stat_on.svg" ng-click="vm.toggleUse('lab');">
			<img ng-if="!vm.enabled.lab" class="current-power-toggle" src="./images/current/toggle_stat_off.svg" ng-click="vm.toggleUse('lab');">
			<img ng-if="vm.enabled.lab == true" class="current-power-img" src="./images/current/lab_on.svg">
			<img ng-if="vm.enabled.lab == false" class="current-power-img" src="./images/current/lab_off.svg">
			<div class="current-value">-{{vm.currentData.lab}} W</div>
		</div>

		<svg class="current-power-divider" width = "0.4%" height = "100%">
  			<rect width = "100%" height = "90%">
		</svg>

		<div class="current-power-tile"> <!-- "current-power-sum" used to be included -->
			<img class="current-power-img" ng-if="vm.currentData.total >= 0" src="./images/current/sum_green.svg">
			<img class="current-power-img" ng-if="vm.currentData.total < 0" src="./images/current/sum_red.svg">
			<div class="current-value">{{vm.currentData.total}} W</div>
		</div>
	</div>
</div>