<div class="section-banner">
	<ul class="timespan">
		<li ng-repeat="timespan in vm.percentTimespans" ng-click="vm.changePercentTimespan(timespan)" ng-class="{'active': timespan === vm.percentTimespan}">
			{{timespan}}
		</li>
	</ul>
	<h1 class="section-banner-title">energy usage</h1>
</div>

<percentzne-graph ng-if="vm.percentData" data="vm.percentData" patterns="vm.percentState !== 'current'" timespan="vm.percentTimespan"></percentzne-graph>

<div class="selector">
	<div class="selector-section selector-left" ng-click="vm.togglePercentState('enduse')">{{vm.building}}<br>end-uses</div>
	<div class="selector-section">
		<img ng-if="vm.percentState === 'enduse'" class="showall-toggle" src="./images/percentzne/usage_enduse_toggle.svg" ng-click="vm.togglePercentState();">
		<img ng-if="vm.percentState === 'current'" class="showall-toggle" src="./images/percentzne/usage_me_toggle.svg" ng-click="vm.togglePercentState();">
		<img ng-if="vm.percentState === 'all'" class="showall-toggle" src="./images/percentzne/usage_all_toggle.svg" ng-click="vm.togglePercentState();">
		<div ng-click="vm.togglePercentState('current')">{{vm.building}} {{vm.street}}</div>
	</div>
	<div class="selector-section selector-right" ng-click="vm.togglePercentState('all')">all<br>buildings</div>
</div>