<div class="section-banner percent-banner">
	<ul class="timespan">
		<li ng-repeat="timespan in vm.percentTimespans" ng-click="vm.changePercentTimespan(timespan)" ng-class="{'active': timespan === vm.percentTimespan}">
			{{timespan}}
		</li>
	</ul>
	<h1 class="section-banner-title">energy usage</h1>
</div>

<percentzne-graph ng-if="vm.percentData" data="vm.percentData" state="vm.percentState" timespan="vm.percentTimespan" buildings="vm.buildings"></percentzne-graph>

<div class="selector">
	<div class="selector-section selector-left" ng-click="vm.togglePercentState('enduse')">{{vm.building}}<br>end-uses</div>
	<div class="selector-section">
		<!-- Toggle click boxes -->
		<div class="selector-toggle-left" ng-click="vm.togglePercentState('enduse')"></div>
		<div class="selector-toggle-middle" ng-click="vm.togglePercentState('current')"></div>
		<div class="selector-toggle-right" ng-click="vm.togglePercentState('all')"></div>

		<img ng-if="vm.percentState === 'enduse'" class="showall-toggle" src="./images/percentzne/usage_enduse_toggle.svg">
		<img ng-if="vm.percentState === 'current'" class="showall-toggle" src="./images/percentzne/usage_me_toggle.svg">
		<img ng-if="vm.percentState === 'all'" class="showall-toggle" src="./images/percentzne/usage_all_toggle.svg">
		<div>{{vm.building}}</div>
	</div>
	<div class="selector-section selector-right" ng-click="vm.togglePercentState('all')">all<br>buildings</div>
</div>