doctype html
html(lang="en" class="full-height")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title Eco Dashboard

		if(process.env.NODE_ENV === 'production')
			link(rel="stylesheet" href="./dist/css/main.min.css")
		else
			link(rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.css")
			link(rel="stylesheet" href="./dist/css/app.css")

		link(rel="icon" type="image/png" href="./images/favicon.png")
			
	body(ng-cloak class="full-height")

		div(ng-include="'./modules/core/views/menu.client.view.html'" ng-controller="Menu as menu")

		div(class="logo")
			a(href="#!/")
				img(src="./images/logo.svg")

		div(ng-view class="container-fluid full-height")

		if(process.env.NODE_ENV === 'production')
			script(type='text/javascript' src='./dist/js/main.min.js')
		else
			script(type='text/javascript' src='./lib/jquery/dist/jquery.js')
			script(type='text/javascript' src='./lib/bootstrap/dist/js/bootstrap.js')

			script(type='text/javascript' src='./lib/angular/angular.js')
			script(type='text/javascript' src='./lib/angular-route/angular-route.js')

			script(type='text/javascript' src='./modules/core/core.client.module.js')
			script(type='text/javascript' src='./modules/core/controllers/menu.client.controller.js')

			script(type='text/javascript' src='./modules/about/about.client.module.js')
			script(type='text/javascript' src='./modules/about/config/about.client.routes.js')
			script(type='text/javascript' src='./modules/about/controllers/about.client.controller.js')

			script(type='text/javascript' src='./modules/dashboard/dashboard.client.module.js')
			script(type='text/javascript' src='./modules/dashboard/config/dashboard.client.routes.js')
			script(type='text/javascript' src='./modules/dashboard/controllers/dashboard.client.controller.js')
			script(type='text/javascript' src='./modules/dashboard/directives/historicalgraph.client.directive.js')
			script(type='text/javascript' src='./modules/dashboard/directives/leaderboardgraph.client.directive.js')
			script(type='text/javascript' src='./modules/dashboard/directives/percentznegraph.client.directive.js')
			script(type='text/javascript' src='./modules/dashboard/services/hobo.client.service.js')
			script(type='text/javascript' src='./modules/dashboard/services/d3.client.service.js')

			script(type='text/javascript' src='./modules/splash/splash.client.module.js')
			script(type='text/javascript' src='./modules/splash/config/splash.client.routes.js')

			script(type='text/javascript' src='./application.js')
