@font-face {
    font-family: LetterGothicStd;
    src: url('../../fonts/LetterGothicStd.otf'),
    url('../../fonts/LetterGothicStd.otf'); // IE
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LetterGothicStd;
    src: url('../../fonts/LetterGothicStd-Slanted.otf'),
    url('../../fonts/LetterGothicStd-Slanted.otf'); // IE
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: LetterGothicStd;
    src: url('../../fonts/LetterGothicStd-Bold.otf'),
    url('../../fonts/LetterGothicStd-Bold.otf'); // IE
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: LetterGothicStd;
    src: url('../../fonts/LetterGothicStd-BoldSlanted.otf'),
    url('../../fonts/LetterGothicStd-BoldSlanted.otf'); // IE
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: webly;
    src: url('../../fonts/weblysleekuil.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: webly;
    src: url('../../fonts/weblysleekuili.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: webly;
    src: url('../../fonts/weblysleekuisb.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: webly;
    src: url('../../fonts/weblysleekuisbi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: malina;
    src: url('../../fonts/Malina-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

// MEDIA QUERIES
// Reference: http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
// Ratio values come from calculations illustrated in "./web/WV_Resolutions.txt"

@mixin respond-to($media) {
  @if $media == laptop {
    @media only screen and (max-aspect-ratio: 168888/100000) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-aspect-ratio: 1688881/1000000) and (max-aspect-ratio: 181197/100000) { @content; }
  }
  @else if $media == laptopW {
    @media only screen and (min-aspect-ratio: 1811971/1000000) and (max-aspect-ratio: 186425/100000) { @content; }
  }
  @else if $media == laptop2W {
    @media only screen and (min-aspect-ratio: 1864251/1000000) and (max-aspect-ratio: 194118/100000) { @content; }
  }
  @else if $media == desktopW {
    @media only screen and (min-aspect-ratio: 1941181/1000000) and (max-aspect-ratio: 205/100) { @content; }
  }
  @else if $media == popularW {
    @media only screen and (min-aspect-ratio: 2051/1000) { @content; }
  }
}

// Use in other style sheets:
/*
    @include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
*/

body {
  background-color: #252525;
  color: #FAF1E0; // yellowish white
  font-family: LetterGothicStd;
}

.full-height {
  height: 100%;
}

.logo {
  position: absolute;
  // top: 20px;
  top: 2%;
  // left: 30px;
  left: 1%;
  // width: 125px;
  width: 7%;
  z-index: 1000;
}

.hamburger {
  width: 41px;
  height: 32px;
  margin-top: 21px;
  margin-left: 21px;
  margin-bottom: 39px;
  cursor: pointer;
}

.hamburger-top {
  position: absolute;
  top: 21px;
  right: 21px;
  z-index: 1000;
  margin: 0;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 20em;
  z-index: 1001;
  background-color: #383838;
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    li {

      padding: 0.3em 1em;
      font-size: 2em;
      letter-spacing: -0.1em;
      font-weight: 200;

      &.active {
        border: 5px solid #FAF1E0;
        cursor: default;
      }

            // "Home"
            &:nth-child(1){
                background-color: #252525;
            }

            // "Dashboards"
            &:nth-child(2){
                background-color: #252525;
            }

      // Buildings
            &:nth-child(n+3):nth-child(-n+6){
                padding-left: 2.5em;
            }

            // "About"
            &:nth-child(7){
                background-color: #252525;
            }

      a, span {
        color: #FAF1E0;
      }

      span.text {
        color: #525252;
      }
    }
  }
}

// Loading Screen

.loading {
  background-color: #252525;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.loading img {
  position: absolute;
  height: 50%;
  width: auto;
  top: 50%;
  left: 50%;
  // margin-right: -50%;
  transform: translate(-50%, -50%);
}

// Fade in and out for ng-if
.fade-in-out.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.fade-in-out.ng-enter.ng-enter-active {
  opacity:1;
}

.fade-in-out.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade-in-out.ng-leave.ng-leave-active {
  opacity:0;
}