@font-face {
    font-family: LetterGothicStd;
    src: url('../../fonts/LetterGothicStd.otf'),
    url('../../fonts/LetterGothicStd.otf'); // IE
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LetterGothicStd;
    src: url('../../fonts/LetterGothicStd-Slanted.otf'),
    url('../../fonts/LetterGothicStd-Slanted.otf'); // IE
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: LetterGothicStd;
    src: url('../../fonts/LetterGothicStd-Bold.otf'),
    url('../../fonts/LetterGothicStd-Bold.otf'); // IE
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: LetterGothicStd;
    src: url('../../fonts/LetterGothicStd-BoldSlanted.otf'),
    url('../../fonts/LetterGothicStd-BoldSlanted.otf'); // IE
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: webly;
    src: url('../../fonts/weblysleekuil.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: webly;
    src: url('../../fonts/weblysleekuili.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: webly;
    src: url('../../fonts/weblysleekuisb.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: webly;
    src: url('../../fonts/weblysleekuisbi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: malina;
    src: url('../../fonts/Malina-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #252525;
	color: #FAF1E0; // yellowish white
	font-family: LetterGothicStd;
}

.full-height {
	height: 100%;
}

.logo {
	position: absolute;
	top: 20px;
	left: 30px; 
	width: 125px;
	z-index: 1000;
}

.hamburger {
	width: 41px;
	height: 32px;
	margin-top: 21px;
	margin-left: 21px;
	margin-bottom: 39px;
	cursor: pointer;
}

.hamburger-top {
	position: absolute;
	top: 21px;
	right: 21px;
	z-index: 1000;
	margin: 0;
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 20em;
	z-index: 1001;
	background-color: #383838;
	margin: 0;
	padding: 0;

	ul {
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;

		li {

			padding: 0.3em 1em;
			font-size: 2em;
            letter-spacing: -0.1em;
			font-weight: 200;

			&.active {
				border: 5px solid #FAF1E0;
				cursor: default;
			}

            // "Home"
            &:nth-child(1){
                background-color: #252525;
            }

            // "Dashboards"
            &:nth-child(2){
                background-color: #252525;
            }

			// Buildings
            &:nth-child(n+3):nth-child(-n+6){
                padding-left: 2.5em;
            }

            // "About"
            &:nth-child(7){
                background-color: #252525;
            }

			a, span {
				color: #FAF1E0;
			}

			span.text {
				color: #525252;
			}
		}
	}
}