<!-- Sun to 215 Sage -->
<solar-line1 points="[[1090, 150],[245, 150],[245,360]]" arrow="'arrow-yellow'"></solar-line1>
<!-- Sun to 1715 Tilia -->
<solar-line1 points="[[1120, 200],[460, 200],[460,465]]" arrow="'arrow-yellow'"></solar-line1>
<!-- Sun to 1605 Tilia -->
<solar-line1 points="[[1230, 250],[1230, 350],[960, 350],[960,440]]" arrow="'arrow-yellow'"></solar-line1>
<!-- Sun to 1590 Tilia -->
<!-- old values: x:1640 y: -->
<solar-line1 points="[[1370, 150],[1590, 150],[1590, 350]]" arrow="'arrow-yellow'"></solar-line1>
<!-- Grid to 215 Sage -->
<solar-line1 points="[[530, 860],[245, 860],[245, 690]]" arrow="'arrow-red'"></solar-line1>
<!-- Grid to 1715 Tilia -->
<solar-line1 points="[[550, 800],[460, 800],[460, 650]]" arrow="'arrow-red'"></solar-line1>
<!-- Grid to 1605 Tilia -->
<solar-line1 points="[[720, 800],[960, 800],[960, 650]]" arrow="'arrow-red'"></solar-line1>
<!-- Grid to 1590 Tilia -->
<!-- old values: x:1640 -->
<solar-line1 points="[[735, 860],[1590, 860],[1590, 675]]" arrow="'arrow-red'"></solar-line1>