<div class="jumboron">
  <div class="row" id="row_main">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <div class="row" id="row_top">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <!-- WVDashboard logo:  -->
          <a href="#!/"><img class="pull-left" id="WVED_logo" alt="Brand" src="/images/WVED_logo_white.svg"></a>
        </div> <!-- Horse Mascot Section -->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <h1 class="graph_header">weekly leaderboard</h1>
        </div> <!-- Leaderboard -->
      </div> <!-- row_top -->
      <div class="row" id="row_middle">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="graph_header">&emsp;&emsp;&emsp;current power demand</h1>
        </div> <!-- Energy Demand (the icon one) -->
      </div> <!-- row_middle -->
      <div class="row" id="row_bottom">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="graph_header">&emsp;&emsp;&emsp;power demand</h1>
        </div> <!-- End Use (the line graph) -->
      </div> <!-- row_bottom -->
    </div> <!-- main left column -->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <h1 class="graph_header">&emsp;&emsp;&emsp;energy usage</h1>
    </div> <!-- main right column -->
  </div> <!-- row_main -->
</div>