// LAYOUT

.section-left {
	padding: 0;
}

.section-left-top {
	height:40%;
	margin: 0;
}

.section-left-bottom {
	height:60%;
	background-color: #7fa097;
}

.section-right {
	background-color: #46605a;
	overflow: hidden;
	padding: 0;
}

// HEADERS

.section-banner {
	width: 650px;
	background-color: #29343f;
	overflow: auto;
	padding: 2px;
	transform: rotate(-12deg);
	position: absolute;
	left: -25px;
	top: -15px;
	min-height: 80px;
	z-index: 1;
}

.section-banner-title {
	font-size: 2.5em;
	font-family: malina;
	float: left;
	margin-left: 15px;
	margin-top: 30px;
}

.section-banner-title-solo {
	margin-left: 45px;
}

.timespan {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 82px;
	margin-left: 40px;
	float: left;

	li {
		text-align: center;
		margin: 0;
		padding: 0;
		border-bottom: solid #aad6cd 1px;
		color: #aad6cd;
		cursor: pointer;
		font-size: 0.8em;

		&:last-child {
			border-bottom: 0;
		}

		&.active {
			font-size: 1.7em;
			line-height: 1.2em;
			font-weight: 700;
			color: white;
			cursor: default;
		}
	}
}

// MASCOT

.mascot {
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// LEADERBOARD

.leaderboard-container {
	background-color: #a7bcb6;
	overflow: hidden;
	padding: 0;
}

.leaderboardGraph {
	width: 100%;
	height: 100%;
	bottom: 0;
	position: absolute;
}

// CURRENT POWER

.current-power-container {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.current-power {
	margin-left: 10%;
	width: 80%;
	margin-top: 65px;
	padding-bottom: 12px;
	border-bottom: 10px solid #a7bcb6;
	overflow: auto;
}

.current-power-wrapper {
	padding: 0;
}

.current-power-tile {
	//width: 95px;
	width: 9%;
	text-align: center;
	float: left;
	//margin-left: 65px;
	margin-left: 4%;
	position: relative;
	padding-top: 15px;

	&:first-child {
		margin-left: 20px;
	}
}

.current-power-img {
	//height: 85px;
	//width: 85px;
	height: 85%;
	width: 85%;
	margin-bottom: 10px;
}

.current-power-toggle {
	//height: 40px;
	//width: 22px;
	height: 40%;
	width: 22%;
	position: absolute;
	//left: -5px;
	left: -5%;
	//top: 35px;
	top: 25%;
	cursor: pointer;
}

.current-power-divider {
	margin-left: 4%;
	float: left;
	position: relative;
}

.current-power-divider > rect {
	fill: #ffffff;
}

.current-power-sum {
	border-left: 5px solid #ffffff;
	//width: 135px;
	width: 13.5%;
	padding-left: 30px;
}

.current-value {
	font-weight: 700;
	font-size: 1.2em;
	color: #172739;
}

// HISTORICAL POWER

.historical-power-container {
	margin: 0;
	position: relative;
	overflow: hidden;
	height: 62%;
}

.historicalGraph {
	width: 100%;
	height: 350px;
}

.legend {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 120px;
	padding-bottom: 50px;
}

.legend-item {
	height: 3em;
	margin-bottom: 10px;
}

.legend-image {
	float: left;
	height: 100%;
	display: flex;

	img {
		width: 20px;
		margin: auto;
	}
}

.legend-label {
	float: left;
	margin-left: 10px;
	color: #29343e;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
}

// PERCENT ZNE

.percentzneGraph {
	width: 100%;
	height: 100%;
}

.selector {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	text-align:center;
}

.selector-section {
	display: inline-block;
	vertical-align:top;
	line-height: 0.9em;
	cursor: pointer;
}

.selector-right {
	text-align: left;
}

.selector-left {
	text-align: right;
}

.showall-toggle {
	height: 12px;
	width: 184px;
	cursor: pointer;
	margin: 5px 0 0 0;
}
