// LAYOUT

.section-left {
	padding: 0;
}

.section-left-top {
	height:40%;
	margin: 0;
}

.section-left-bottom {
	height:60%;
	background-color: #252525;
}

.section-right {
	background-color: #1E1E1E;
	overflow: hidden;
	padding: 0;
}

// SPLASH PAGE

.splash-bg {
	background-image: url('../../../images/splash/splash_scene.svg');
	background-size: 100% auto;
	// background-size: fill;
    // object-fit: fill;
	background-repeat: no-repeat;
	background-position: center; // left top
	background-color: #1E1E1E;
}

.power-grid {
	position: absolute;
	width: 10%;
	height: 25%;
	bottom: 8%;
	left: 28%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) { bottom: 6%; }
    @include respond-to(laptop2W) { bottom: 5%; }
    @include respond-to(desktopW) { height: 26%; bottom: 5%; }
    @include respond-to(popularW) { height: 27%; bottom: 5%; }
}

.weather-icon {
	position: absolute;
	width: 8%;
	height: 13.8%;
	top: 7%;
	left: 60%;
	@include respond-to(laptop) {  }
	@include respond-to(desktop) { width: 8%;height: 13.8%;top: 7%;left: 60%; }
	@include respond-to(laptopW) {  }
	@include respond-to(laptop2W) {  }
	@include respond-to(desktopW) {  }
	@include respond-to(popularW) {  }

}

.weather-text {
	position: absolute;
	top: 8%;
	left: 47%;
	transform: translate(-50%, 0%);
	// font-size: 3em;
	font-size: 2.3vw;
	line-height: 5vh;
	letter-spacing: -0.15em;
	text-align: right;
	@include respond-to(laptop) { left: 45%; }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) { left: 40%; }
    @include respond-to(laptop2W) { left: 40%; }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) { left: 40%; font-size: 2vw; line-height: 4.5vh; }
}

.solarLine1-container {
	overflow: hidden;
	padding: 0;
}

.solarLine1 {
	width: 100%;
	height: 100%;
	bottom: 0;
	position: absolute;
}

// Solar lines
.path-splash {
    fill: none;
    // stroke: #000;
    // stroke-width: 2px;
}

// Solar to building arrows
.arrow-yellow {
	fill: #FAF8CE; //light yellow
}

// Grid to building arrows
.arrow-red {
	fill: #D21F27; // red
}

#hover-215Sage {
	// display: none;
	position: absolute;
    height:8%;
    width:45%;
    top: 20%;
    left: 40%;
    font-size: 1.5vw;
    letter-spacing: -0.1em;
    z-index: 5;
    font-weight: bold;
    color: white;
    background-color: rgba(128,128,128,0.6);
    text-align: center;
    @include respond-to(laptop) { top: 23%; }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) { top: 23%; }
    @include respond-to(desktopW) { top: 23%; }
    @include respond-to(popularW) {  }
}

#click-215Sage {
	position: absolute;
	top: 30%;
	left: 0%;
	width: 18.5%;
	height: 40%;
	z-index: 2;
	// border-color: white;
	// border-width: 2px;
	// border-style: solid;
	@include respond-to(laptop) { top: 30%; height: 37%; width: 18%; }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) { top: 28%; height: 41%; }
    @include respond-to(desktopW) { top: 27%; height: 45%; }
    @include respond-to(popularW) { top: 26%; height: 46%; }
}

// #click-215Sage:hover #hover-215Sage {
// 	display: block;
// }

#hover-1715Tilia {
	// display: none;
	position: absolute;
    height:10%;
    width:45%;
    top: 55%;
    left: 30%;
    font-size: 1.5vw;
    letter-spacing: -0.1em;
    z-index: 5;
    font-weight: bold;
    color: white;
    background-color: rgba(128,128,128,0.6);
    text-align: center;
    @include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

#click-1715Tilia {
	position: absolute;
	top: 30%;
	left: 18.5%;
	width: 21%;
	height: 32%;
	z-index: 2;
	// border-color: white;
	// border-width: 2px;
	// border-style: solid;
	@include respond-to(laptop) { top: 30%; height: 30%; left: 18%; width: 22%; }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) { top: 27%; height: 34%; }
    @include respond-to(popularW) { top: 27%; height: 36%; }
}

// #click-1715Tilia:hover #hover-1715Tilia {
// 	display: block;
// }

#hover-1605Tilia {
	// display: none;
	position: absolute;
    height:18%;
    width:25%;
    top: 13%;
    left: 70%;
    font-size: 1.5vw;
    letter-spacing: -0.1em;
    z-index: 5;
    font-weight: bold;
    color: white;
    background-color: rgba(128,128,128,0.6);
    text-align: center;
    @include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) { top: 16%; }
    @include respond-to(popularW) {  }
}

#click-1605Tilia {
	position: absolute;
	top: 42%;
	left: 41%;
	width: 32%;
	height: 20%;
	z-index: 2;
	// border-color: white;
	// border-width: 2px;
	// border-style: solid;
	@include respond-to(laptop) { top: 42%; height: 18%; width: 32%; left: 41%; }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) { top: 40%; }
    @include respond-to(desktopW) { top: 40%; height: 23%; }
    @include respond-to(popularW) { top: 39%; height: 23%; }
}

// #click-1605Tilia:hover #hover-1605Tilia {
// 	display: block;
// }

#hover-1590Tilia {
	// display: none;
	position: absolute;
    height:8%;
    width:35%;
    top: 17%;
    left: 46%;
    font-size: 1.5vw;
    letter-spacing: -0.1em;
    z-index: 5;
    font-weight: bold;
    color: white;
    background-color: rgba(128,128,128,0.6);
    text-align: center;
    @include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

#click-1590Tilia {
	position: absolute;
	top: 28%;
	left: 77%;
	width: 22.5%;
	height: 40%;
	z-index: 2;
	// border-color: white;
	// border-width: 2px;
	// border-style: solid;
	@include respond-to(laptop) { left: 77%; height: 37%; }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) { top: 27%; }
    @include respond-to(popularW) { top: 25%; height: 43%; }
}

// #click-1590Tilia:hover #hover-1590Tilia {
// 	display: block;
// }

.info-box {
	position: absolute;
	font-size: 1.4vw;
	line-height: 3.5vh;
	letter-spacing: -0.1em;
	color: white;
	background-color: rgba(128,128,128,0.6);
	z-index: 2;
	text-align: left;
	padding: 0.8%;
	font-weight: normal;
}

.main-box {
	height: 10%;
	width: 28%;
	bottom: 5%;
	right: 5%;
}

.bottom-box {
	height: 15%;
	width: 23%;
	bottom: 2%;
	right: 35%;
	padding: 0.3%;
}

.top-box {
	height: 14%;
	width: 13.5%;
	top: 16%;
	right: 18.3%;
	padding: 0.2%;
	letter-spacing: -0.15em;
	@include respond-to(laptop) { top: 19%; }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) { right: 20%; width: 13%; }
    @include respond-to(laptop2W) { right: 20%; width: 12%; font-size: 1vw; }
    @include respond-to(desktopW) { right: 23%; width: 10%; font-size: 1vw; }
    @include respond-to(popularW) { right: 24%; width: 9%; font-size: 1vw; height: 21%; }
}

.info-button {
	height: 40%;
	width: 10%;
	position: relative;
	display: inline;
	cursor: pointer;
}

.credit-box {
	position: absolute;
	font-size: 1.3vw;
	letter-spacing: -0.1em;
	color: white;
	// background-color: rgba(128,128,128,0.6);
	z-index: 2;
	text-align: left;
	font-weight: normal;
}

.credit-image {
	height: auto;
	width: auto;
	position: relative;
	display: inline-block;
	cursor: pointer; 
}

.credit-cenergi {
	height: 8%;
	width: 20%;
	bottom: 10%;
	left: 3%;
}

.credit-wu {
	height: 6%;
	width: 20%;
	bottom: 3%;
	left: 3%;
}

.img-cenergi {
	height: auto;
	width: 50%;
}

.credit-text {
	vertical-align: middle;
	display: inline-block;
}

// HEADERS

.section-banner {
	background-image: url('../../../images/title_board.svg');
	background-size: 70% 100%;
	// background-size: cover;
	background-repeat: no-repeat;
	background-position: 8% 0%; 
	overflow: auto;
	transform: rotate(-12deg);
	position: absolute;
	left: -2%;
	top: -3%;
	min-height: 16%;
	z-index: 1;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.section-banner-title {
	font-size: 1.7vw;
	float: left;
	margin-left: 1.5%;
	margin-top: 5%;
	letter-spacing: -0.1em;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 5;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) { margin-top: 4.5%; }
    @include respond-to(popularW) {  }
}

.section-banner-title-solo {
	margin-left: 7%;
	margin-bottom: 2%;
	margin-top: 4%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.leaderboard-banner {
	width: 85%;
	left: -4%;
	top: -5%;
	background-size: 55% 100%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.percent-banner {
	width: 140%;
	left: -4%;
	top: -1%;
	background-size: 55% 50%;
	@include respond-to(laptop) { background-size: 55% 48%; }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) { background-size: 55% 55%; }
    @include respond-to(popularW) { background-size: 55% 56%; }
}

.current-banner {
	width: 45%;
	background-size: 58% 100%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.historical-banner {
	width: 45%;
	background-size: 55% 100%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.timespan {
	list-style: none;
	margin: 0;
	padding: 0.5%;
	width: 6vw;
	margin-left: 6%;
	float: left;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) { width: 5vw; }
    @include respond-to(popularW) {  }

	li {
		text-align: center;
		margin: 0;
		padding: 0;
		border-bottom: solid #FAF1E0 1px;
		color: #FAF1E0;
		cursor: pointer;
		font-size: 0.6vw;
		@include respond-to(laptop) {  }
	    @include respond-to(desktop) {  }
	    @include respond-to(laptopW) {  }
	    @include respond-to(laptop2W) {  }
	    @include respond-to(desktopW) {  }
	    @include respond-to(popularW) {  }

		&:last-child {
			border-bottom: 0;
		}

		&.active {
			font-size: 1.3vw;
			line-height: 3vh;
			font-weight: 700;
			color: #E8C67E;
			cursor: default;
		}
	}
}

// MASCOT

.mascot {
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mascot-light {
	height: 150%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mascot-bg {
	background-color: #020202; //black
}

// LEADERBOARD

.leaderboard-container {
	background-color: #383838; //light grey
	overflow: hidden;
	padding: 0;
}

.leaderboardGraph {
	width: 100%;
	height: 100%;
	bottom: 0;
	position: absolute;
}

// CURRENT POWER

.current-power-container {
	margin: 0;
	position: relative;
	overflow: hidden;
	height: 38%;
}

.current-power {
	position: absolute;
	bottom: 0;
	margin-left: 10%;
	width: 80%;
	padding-bottom: 1em;
	border-bottom: 10px solid #535353;
	overflow: auto;
}

.current-power-wrapper {
	padding: 0;
}

.current-power-tile {
	//width: 95px;
	width: 9%;
	text-align: center;
	float: left;
	//margin-left: 65px;
	margin-left: 1.5%;
	position: relative;
	padding-top: 15px;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }

	&:first-child {
		margin-left: 20px;
		@include respond-to(laptop) {  }
	    @include respond-to(desktop) {  }
	    @include respond-to(laptopW) {  }
	    @include respond-to(laptop2W) {  }
	    @include respond-to(desktopW) {  }
	    @include respond-to(popularW) {  }
	}
}

.current-power-img {
	//height: 85px;
	//width: 85px;
	height: 85%;
	width: 85%;
	margin-bottom: 10px;
	cursor: pointer;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.current-power-toggle {
	//height: 40px;
	//width: 22px;
	height: 40%;
	width: 22%;
	position: absolute;
	//left: -5px;
	left: -5%;
	//top: 35px;
	top: 25%;
	cursor: pointer;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

// DELETE?
.current-power-divider {
	margin-left: 4.5%;
	float: left;
	position: relative;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

// DELETE?
.current-power-divider > rect {
	fill: #535353;
}

.current-power-sum {
	border-left: 5px solid #ffffff;
	//width: 135px;
	width: 13.5%;
	padding-left: 30px;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.current-value {
	font-weight: bold;
	font-size: 1.2vw;
	color: #BE2525;
}

.sun-value {
	color: #FFCC33;
}

.sum-green {
	font-weight: bold;
	font-size: 1.2vw;
	color: #70C141;
}

.math-symbol {
	display: inline;
	margin-left: 1%;
	float: left;
	position: relative;
	width: 2%;
	height: 100%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.minus {
	padding-top: 4.5%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.plus {
	padding-top: 4.4%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.parenthesis-open {
	padding-top: 0%;
	margin-left: 1.7%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.parenthesis-close {
	padding-top: 0%;
}

// HISTORICAL POWER

.historical-power-container {
	// margin-top: 2%;
	position: relative;
	overflow: hidden;
	height: 62%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) { margin-top: 0; }
    @include respond-to(popularW) {  }
}

.historicalGraph {
	width: 100%;
	height: 100%;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.legend {
	position: absolute;
	right: 2%;
	bottom: 0;
	width: 5vw;
	margin-bottom: 6%;
	@include respond-to(laptop) { width: 8vw; }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}


.legend-item {
	// height: 3em;
    padding-bottom: 10px;
	margin-bottom: 10px;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

.legend-image {
	// float: left;
	// height: 100%;
	display: block;
    // position: center;
    // margin: auto;
	img {
		width: 20%;
		margin-left: 40%;
        margin-right: 40%;
		@include respond-to(laptop) {  }
	    @include respond-to(desktop) {  }
	    @include respond-to(laptopW) {  }
	    @include respond-to(laptop2W) {  }
	    @include respond-to(desktopW) {  }
	    @include respond-to(popularW) {  }
	}
}

.legend-label {
	// float: left;
	// margin-left: 10%;
	// color: #29343e;
	font-size: 0.9vw;
	font-weight: bold;
	line-height: 2vh;
	letter-spacing: -0.1vw;
    text-align: center;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}

// PERCENT ZNE

.percentzneGraph {
	width: 100%;
	height: 100%;
}

.selector {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5%;
	text-align:center;
	@include respond-to(laptop) { bottom: 6%; }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) { bottom: 7%; }
    @include respond-to(laptop2W) { bottom: 8%; }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) { bottom: 8%; }
}

.selector-section {
	display: inline-block;
	vertical-align:top;
	line-height: 0.9em;
	font-size: 1vw;
	cursor: pointer;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) { font-size: 0.7vw; }
}

.selector-right {
	text-align: left;
}

.selector-left {
	text-align: right;
}

.showall-toggle {
	// height: 12px;
	height: auto;
	// height: 4%;
	// width: 184px;
	width: 10vw;

	cursor: pointer;
	// margin: 5px 0 0 0;
	@include respond-to(laptop) {  }
    @include respond-to(desktop) {  }
    @include respond-to(laptopW) {  }
    @include respond-to(laptop2W) {  }
    @include respond-to(desktopW) {  }
    @include respond-to(popularW) {  }
}
